.App {
  text-align: center;
}

.MuiContainer-root {
    margin: 0 auto;
    padding: 0!important;
}

.MuiInputBase-root {
    height: 40vh!important;
}

.buttons-container {
    height: 59vh!important;
    width: 100%!important;
}
 .MuiButton-label {
     font-size: 2rem;
 }

 .MuiButtonBase-root {
     padding: 5px!important;
     margin: 0 !important;
     vertical-align: center;
 }

 .equal-to-symbol {
     width: 100%;
     height: 100%;
     background-color: #FFA500!important;
 }