.App {
  text-align: center;
}

.MuiContainer-root {
    margin: 0 auto;
    max-width: 400px!important;
}

.buttons-container {
    height: 70vh!important;
    width: 100vw!important;
}
 .MuiButton-label {
     font-size: 2rem;
 }

 .MuiButtonBase-root {
     vertical-align: center;
 }